.loaderContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}

.loader {
  margin: auto;
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-bottom: 10px solid #264653;
  width: 100px;
  height: 100px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
